In [65]:
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
#convert to ascii to get rid of the special characters
df = pd.read_excel('data/sample_data.xlsx', encoding="ascii")

In [67]:
df.columns

Index(['customer_id', 'gender', 'age', 'total_score', 'industry', 'title',
       'skills'],
      dtype='object')

In [68]:
df.head()

,customer_id,gender,age,total_score,industry,title,skills
0,1,NaN,NaN,3.45,Information Technology and Services,NaN,NaN
1,2,NaN,NaN,3.44,Internet,NaN,NaN
2,3,NaN,0-0,10.49,NaN,NaN,NaN
3,4,Male,0-0,3.46,Construction,"Functional Architect, Business Technology","SharePoint,Management ,Business Intelligence ,..."
4,5,NaN,NaN,3.45,NaN,NaN,NaN

In [69]:
df.describe()

       customer_id  total_score
count  5022.000000  5022.000000
mean   2511.500000     5.853035
std    1449.870856     3.336261
min       1.000000     0.450000
25%    1256.250000     3.430000
50%    2511.500000     3.470000
75%    3766.750000    10.460000
max    5022.000000    10.940000

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5022 entries, 0 to 5021
Data columns (total 7 columns):
customer_id    5022 non-null int64
gender         757 non-null object
age            3009 non-null object
total_score    5022 non-null float64
industry       4148 non-null object
title          2593 non-null object
skills         2366 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 274.7+ KB

In [71]:
print(df.shape)

(5022, 7)

In [72]:
#check each variable for missing values
print("Total NA:", sum(df.age.isnull().values.ravel()))
print("NA %:", "{:.1%}".format(sum(df.age.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2013
NA %: 16.5%

In [73]:
print("Total NA:", sum(df.gender.isnull().values.ravel()))
print("NA %:", "{:.1%}".format(sum(df.gender.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 4265
NA %: 34.9%

In [74]:
print("Total NA:", sum(df.industry.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.industry.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 874
NA %: 7.1%

In [75]:
print("Total NA:", sum(df.title.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.title.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2429
NA %: 19.8%

In [76]:
print("Total NA:", sum(df.skills.isnull().values))
print("NA %:", "{:.1%}".format(sum(df.skills.isnull().values.ravel())/sum(df.isnull().values.ravel())))

Total NA: 2656
NA %: 21.7%

In [77]:
#Cleaning industry

In [78]:
#slice the industry into a dataframe
df_ind = df[['total_score', 'industry']] 
print("Total rows:", df_ind.shape)
print("Total NA:", sum(df_ind.isnull().values))
print("NA %:", "{:.1%}".format(sum(df_ind.isnull().values.ravel())/sum(df_ind.isnull().values.ravel())))
if isinstance(df['industry'], str):
    print("Encoding is ordinary string")
else:
    print("Encoding is not a string")
    
#check the type
print("Encoding is ", type(df['industry']))
df_ind.to_csv('df_ind_initial.csv', sep = ',')

Total rows: (5022, 2)
Total NA: [  0 874]
NA %: 100.0%
Encoding is not a string
Encoding is  <class 'pandas.core.series.Series'>

In [79]:
type(df_ind)

pandas.core.frame.DataFrame

In [80]:
#remove missing values

df_ind = df_ind[pd.notnull(df_ind['industry'])]

print("Total rows:", df_ind.shape)
print("Total NA:", sum(df_ind.isnull().values))
print("NA %:", "{:.1%}".format(sum(df_ind.isnull().values.ravel())/sum(df_ind.isnull().values.ravel())))
df_ind.to_csv('df_ind_no_na.csv', sep = ',')

Total rows: (4148, 2)
Total NA: [0 0]
NA %: nan%

In [81]:
#remove all '_x000D' and '_x000D_' from the beginning of the values

type(df_ind)

df_ind['industry'] = df_ind['industry'].str.replace('_x000D_', '')


df_ind.to_csv('df_ind_no_x000D.csv', sep = ',')

In [82]:
#remove all columns with 'http' from the industry
df_ind = df_ind[~df_ind['industry'].str.contains('http')]

df_ind.to_csv('df_ind_no_http.csv', sep = ',')

In [83]:
#replace '&' with 'AND'
df_ind['industry'] = df_ind['industry'].str.replace("&","AND")
df_ind.to_csv('df_ind_no&.csv', sep = ',')

In [84]:
#convert all to lowercase
df_ind['industry'] = df_ind.industry.str.lower()
df_ind.head()
df_ind.to_csv('df_ind_lower.csv', sep = ',')

In [85]:
#split by comma
df_ind = pd.concat([pd.Series(row['customer_id'], row['industry'].split(','))
           for _, row in df_ind.iterrows()]).reset_index()


df_ind.to_csv('df_ind_split_comma.csv', sep = ',')

KeyError: 'customer_id'

In [86]:
#add column names
column_names = ["industry",'customer_id']

df_ind.columns = column_names
df_ind.to_csv('df_ind_column_names.csv', sep = ',')

In [87]:
#strip spaces from the industry values
df_ind['industry'] = df_ind['industry'].str.strip()

df_ind.to_csv('df_ind_stripped_column.csv', sep = ',')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [88]:
# remove columns that begin with /
df_ind = df_ind[~df_ind['industry'].str.startswith('/')]

df_ind.to_csv('df_ind_no_slash.csv', sep = ',')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [89]:
#add a new column and populate dummy values

df_ind['dummies'] = 1


df_ind.to_csv('df_ind_add_cols.csv', sep = ',')

In [53]:
#crosstab to set up for PCA

df_ind_cross = pd.crosstab(df_ind.customer_id, df_ind.industry)

df_ind_cross.to_csv('df_ind_crosstab.csv', sep = ',')

In [54]:
type(df_ind_cross)

pandas.core.frame.DataFrame

In [64]:
#PCA

import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components=100)
df_ind_pca = pca.fit_transform(df_ind_cross)

In [58]:
pca.explained_variance_ratio_

array([ 0.13665045,  0.11447233,  0.08359143,  0.05598129,  0.03345137,
        0.02794284,  0.02768645,  0.02320168,  0.01850803,  0.01784745,
        0.01668523,  0.01537856,  0.01409752,  0.01116959,  0.00993326,
        0.00988107,  0.00940841,  0.00878043,  0.00853943,  0.00795308,
        0.00784585,  0.00773825,  0.00751282,  0.00712692,  0.00682047,
        0.00641438,  0.00626938,  0.0061677 ,  0.00605593,  0.00573378,
        0.00564063,  0.00539734,  0.00532758,  0.00530409,  0.00493825,
        0.0049218 ,  0.0046992 ,  0.00466774,  0.00416777,  0.00411084,
        0.00404542,  0.00396603,  0.00386538,  0.00377586,  0.00363271,
        0.00354718,  0.00351398,  0.00346726,  0.00345418,  0.00340686,
        0.00333828,  0.00333828,  0.00328135,  0.00321336,  0.00308449,
        0.0030373 ,  0.00296819,  0.00293415,  0.00286781,  0.00281119,
        0.00281119,  0.00273457,  0.00268132,  0.00257266,  0.00250677,
        0.00245979,  0.00245979,  0.00236036,  0.00233149,  0.00222906,
        0.00218802,  0.00212756,  0.00206676,  0.00203275,  0.00193269,
        0.00193269,  0.00193269,  0.00190947,  0.00183212,  0.00179398,
        0.00171896,  0.00166863,  0.00163996,  0.00158129,  0.00158129,
        0.00153966,  0.00151045,  0.00149334,  0.00144421,  0.00143018,
        0.00140559,  0.00140559,  0.00140559,  0.00140559,  0.00140559,
        0.00140559,  0.00140559,  0.00140559,  0.0013695 ,  0.00132282])